.button {
  display: block;
  width: 100%;
  font-family: $montserrat;
  color: $color-default-white;
  background-color: $slate-blue;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
