.form__fieldset {
  padding: 0;
  border: none;
  margin: 0 0 24px 0;

  &--price {
    @media (min-width: $tablet-width) {
      padding: 0 7px 0 0;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  &--country {
    margin: 0 0 34px 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 30px;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 15px;
    margin: 0 0 39px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
  }
}

.form__fieldset-legends {
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $night-rider;
  margin: 0 0 32px 0;
  letter-spacing: 0.01em;

  @media (min-width: $tablet-width) {
    margin: 0 0 30px 0;
  }

  &--milk {
    margin: 0 0 22px 0;
  }

  &--country {
    margin: 0 0 22px 0;
  }
}

.form__group-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 18px;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 7px;
    gap: 0 14px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    gap: 0 22px;
  }
}

.form__slider-devider {
  color: $silver;
}

.form__slider-input {
  width: 100%;
  border-radius: 4px;
  padding: 6px 10px;
  border: 2px solid $medium-purple;
  font-family: $montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  float: right;

  @media (min-width: $tablet-width) {
    width: 93px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  &:focus {
    outline: none;
    border-color: $royal-purple;
  }
}

.form__radio-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 22px 0;

  @media (min-width: $tablet-width) {
    gap: 21px 0;
  }
}

.form__fieldset-mark {
  font-size: 16px;
  line-height: 23px;
}

.form__fieldset-label {
  cursor: pointer;
  position: relative;
  padding-left: 34px;

  &--checkbox {
    padding-left: 54px;

    @media (min-width: $desktop-width) {
      padding-left: 52px;
    }
  }
}

.form__input-mark {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 2px solid $silver;
  background: $color-default-white;
  border-radius: 50%;
  left: 0;
}

.form__radio-input + .form__input-mark::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}

.form__radio-input[type="radio"]:checked {
  + .form__input-mark {
    border: 2px solid $slate-blue;

    &::before {
      background-color: $slate-blue;
    }
  }
}

.form__radio-input[type="radio"]:hover + .form__input-mark {
  border-color: $medium-purple;

  &::before {
    background-color: $quartz;
  }
}

.form__radio-input[type="radio"]:focus + .form__input-mark {
  border-color: $medium-purple;

  &::before {
    background-color: $quartz;
  }
}

.form__radio-input:disabled {
  ~ .form__fieldset-mark {
    color: $silver;
  }
}

.form__radio-input:disabled ~ .form__input-mark {
  border-color: $gainsboro;
}

.form__radio-input:hover:disabled {
  ~ .form__input-mark {
    &::before {
      background-color: transparent;
    }
  }
}

.form__checkbox-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 21px 0;
}

.form__checkbox-mark {
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 2px;
    width: 42px;
    height: 24px;
    border-radius: 12px;
    background: #bdbdbd;
    transition: left 0.2s ease-in-out, background 0.2s ease;

    @media (min-width: $desktop-width) {
      top: -5px;
      left: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $color-default-white;
    transition: left 0.2s ease-in-out, background 0.2s ease;

    @media (min-width: $desktop-width) {
      top: -3px;
      left: 2px;
    }
  }
}

.form__checkbox-input:checked {
  ~ .form__checkbox-mark {
    &::after {
      left: 20px;
    }

    &::before {
      border: none;
      background: $slate-blue;
    }
  }
}

.form__checkbox-input:hover {
  ~ .form__checkbox-mark::before {
    border: 2px solid $medium-purple;
    background-color: $quartz;
  }
}

.form__checkbox-input[type="checkbox"]:focus {
  ~ .form__checkbox-mark::before {
    border: 2px solid $medium-purple;
    background-color: $quartz;
  }
}

.form__checkbox-input:disabled {
  ~ .form__fieldset-mark {
    color: $silver;
  }
}

.form__checkbox-input:disabled ~ .form__checkbox-mark::before {
  background-color: $gainsboro;
}

.form__checkbox-input:hover:disabled {
  ~ .form__checkbox-mark {
    &::before {
      border-color: $gainsboro;
    }
  }
}

.form__checkbox-input:checked:disabled ~ .form__checkbox-mark {
  &::before {
    background-color: $gainsboro;
  }

  &::after {
    background-color: $silver;
  }
}

.form__button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px 0;
  margin: 0 0 41px 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    margin: 0 54px 44px 0;
    gap: 0 19px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__submit {
  padding: 10px 14px;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  width: 57%;
  transition: 0.3s;

  @media (min-width: $tablet-width) {
    width: 21.9%;
    font-size: 13px;
    padding: 8px 3px;
    letter-spacing: 0.04em;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__reset {
  font-family: $montserrat;
  width: 57%;
  color: $slate-blue;
  cursor: pointer;
  background-color: $color-default-white;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 14px;
  border: 0;
  border-radius: 4px;
  transition: 0.3s;

  &--disabled {
    color: $color-default-white;
    background-color: $gainsboro;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    width: 21.9%;
    padding: 8px 3px;
    letter-spacing: 0.04em;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    letter-spacing: 0;
  }

  &:hover,
  &:focus {
    background-color: $magnolia;
  }
}
