//----default-colors----//

$color-default-black: #000000;
$color-default-white: #ffffff;

//---colors---//

$bridal-heath: #f3ebe1;

//----Fonts----//

$montserrat: 'Montserrat', 'Arial', sans-serif;
$arial: 'Arial', 'Helvetica', sans-serif;

//----Viewports----//

$tablet-width: 768px;
$desktop-width: 1024px;
