//----default-colors----//

$color-default-black: #000000;
$color-default-white: #ffffff;

//---colors---//

$bridal-heath: #f3ebe1;
$night-rider: #333333;
$magnolia: #f0ebff;
$slate-blue: #7859cf;
$medium-purple: #9070ec;
$silver: #bdbdbd;
$gainsboro: #e2e2e2;
$royal-purple: #593cac;
$quartz: #ddd6f3;

//----Fonts----//

$montserrat: "Montserrat", "Arial", sans-serif;
$arial: "Arial", "Helvetica", sans-serif;

//----Viewports----//

$tablet-width: 768px;
$desktop-width: 1024px;
